src/wsdl/localhost_8080/wsGanttProject/srvActividad.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="deleteActividad" type="tns:deleteActividad"/>

<xs:element name="deleteActividadResponse" type="tns:deleteActividadResponse"/>

<xs:element name="insertActividad" type="tns:insertActividad"/>

<xs:element name="insertActividadResponse" type="tns:insertActividadResponse"/>

<xs:element name="listarActividad" type="tns:listarActividad"/>

<xs:element name="listarActividadPorID" type="tns:listarActividadPorID"/>

<xs:element name="listarActividadPorIDResponse" type="tns:listarActividadPorIDResponse"/>

<xs:element name="listarActividadResponse" type="tns:listarActividadResponse"/>

<xs:element name="updateActividad" type="tns:updateActividad"/>

<xs:element name="updateActividadResponse" type="tns:updateActividadResponse"/>

<xs:complexType name="insertActividad">
<xs:sequence>
<xs:element name="idTarea" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteActividad">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividad">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarActividadResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="idTarea" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadPorID">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateActividad">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="idTarea" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>