src/wsdl/localhost_8080/wsGanttProject/srvActividad.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="srvActividad">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/wsGanttProject/srvActividad?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteActividad">
<part name="parameters" element="tns:deleteActividad"/>
</message>
<message name="deleteActividadResponse">
<part name="parameters" element="tns:deleteActividadResponse"/>
</message>
<message name="updateActividad">
<part name="parameters" element="tns:updateActividad"/>
</message>
<message name="updateActividadResponse">
<part name="parameters" element="tns:updateActividadResponse"/>
</message>
<message name="insertActividad">
<part name="parameters" element="tns:insertActividad"/>
</message>
<message name="insertActividadResponse">
<part name="parameters" element="tns:insertActividadResponse"/>
</message>
<message name="listarActividad">
<part name="parameters" element="tns:listarActividad"/>
</message>
<message name="listarActividadResponse">
<part name="parameters" element="tns:listarActividadResponse"/>
</message>
<message name="listarActividadPorID">
<part name="parameters" element="tns:listarActividadPorID"/>
</message>
<message name="listarActividadPorIDResponse">
<part name="parameters" element="tns:listarActividadPorIDResponse"/>
</message>
<portType name="srvActividad">
<operation name="deleteActividad">
<input wsam:Action="http://Servicio/srvActividad/deleteActividadRequest" message="tns:deleteActividad"/>
<output wsam:Action="http://Servicio/srvActividad/deleteActividadResponse" message="tns:deleteActividadResponse"/>
</operation>
<operation name="updateActividad">
<input wsam:Action="http://Servicio/srvActividad/updateActividadRequest" message="tns:updateActividad"/>
<output wsam:Action="http://Servicio/srvActividad/updateActividadResponse" message="tns:updateActividadResponse"/>
</operation>
<operation name="insertActividad">
<input wsam:Action="http://Servicio/srvActividad/insertActividadRequest" message="tns:insertActividad"/>
<output wsam:Action="http://Servicio/srvActividad/insertActividadResponse" message="tns:insertActividadResponse"/>
</operation>
<operation name="listarActividad">
<input wsam:Action="http://Servicio/srvActividad/listarActividadRequest" message="tns:listarActividad"/>
<output wsam:Action="http://Servicio/srvActividad/listarActividadResponse" message="tns:listarActividadResponse"/>
</operation>
<operation name="listarActividadPorID">
<input wsam:Action="http://Servicio/srvActividad/listarActividadPorIDRequest" message="tns:listarActividadPorID"/>
<output wsam:Action="http://Servicio/srvActividad/listarActividadPorIDResponse" message="tns:listarActividadPorIDResponse"/>
</operation>
</portType>
<binding name="srvActividadPortBinding" type="tns:srvActividad">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividadPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvActividad">
<port name="srvActividadPort" binding="tns:srvActividadPortBinding">
<soap:address location="http://localhost:8080/wsGanttProject/srvActividad"/>
</port>
</service>
</definitions>