src/wsdl/localhost_8080/wsGanttProject/srvEmpresa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="srvEmpresa">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/wsGanttProject/srvEmpresa?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteEmpresa">
<part name="parameters" element="tns:deleteEmpresa"/>
</message>
<message name="deleteEmpresaResponse">
<part name="parameters" element="tns:deleteEmpresaResponse"/>
</message>
<message name="updateEmpresa">
<part name="parameters" element="tns:updateEmpresa"/>
</message>
<message name="updateEmpresaResponse">
<part name="parameters" element="tns:updateEmpresaResponse"/>
</message>
<message name="listarEmpresa">
<part name="parameters" element="tns:listarEmpresa"/>
</message>
<message name="listarEmpresaResponse">
<part name="parameters" element="tns:listarEmpresaResponse"/>
</message>
<message name="insertEmpresa">
<part name="parameters" element="tns:insertEmpresa"/>
</message>
<message name="insertEmpresaResponse">
<part name="parameters" element="tns:insertEmpresaResponse"/>
</message>
<message name="listarEmpresaPorID">
<part name="parameters" element="tns:listarEmpresaPorID"/>
</message>
<message name="listarEmpresaPorIDResponse">
<part name="parameters" element="tns:listarEmpresaPorIDResponse"/>
</message>
<portType name="srvEmpresa">
<operation name="deleteEmpresa">
<input wsam:Action="http://Servicio/srvEmpresa/deleteEmpresaRequest" message="tns:deleteEmpresa"/>
<output wsam:Action="http://Servicio/srvEmpresa/deleteEmpresaResponse" message="tns:deleteEmpresaResponse"/>
</operation>
<operation name="updateEmpresa">
<input wsam:Action="http://Servicio/srvEmpresa/updateEmpresaRequest" message="tns:updateEmpresa"/>
<output wsam:Action="http://Servicio/srvEmpresa/updateEmpresaResponse" message="tns:updateEmpresaResponse"/>
</operation>
<operation name="listarEmpresa">
<input wsam:Action="http://Servicio/srvEmpresa/listarEmpresaRequest" message="tns:listarEmpresa"/>
<output wsam:Action="http://Servicio/srvEmpresa/listarEmpresaResponse" message="tns:listarEmpresaResponse"/>
</operation>
<operation name="insertEmpresa">
<input wsam:Action="http://Servicio/srvEmpresa/insertEmpresaRequest" message="tns:insertEmpresa"/>
<output wsam:Action="http://Servicio/srvEmpresa/insertEmpresaResponse" message="tns:insertEmpresaResponse"/>
</operation>
<operation name="listarEmpresaPorID">
<input wsam:Action="http://Servicio/srvEmpresa/listarEmpresaPorIDRequest" message="tns:listarEmpresaPorID"/>
<output wsam:Action="http://Servicio/srvEmpresa/listarEmpresaPorIDResponse" message="tns:listarEmpresaPorIDResponse"/>
</operation>
</portType>
<binding name="srvEmpresaPortBinding" type="tns:srvEmpresa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpresaPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvEmpresa">
<port name="srvEmpresaPort" binding="tns:srvEmpresaPortBinding">
<soap:address location="http://localhost:8080/wsGanttProject/srvEmpresa"/>
</port>
</service>
</definitions>