src/wsdl/localhost_8080/wsGanttProject/srvEmpresa.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="deleteEmpresa" type="tns:deleteEmpresa"/>

<xs:element name="deleteEmpresaResponse" type="tns:deleteEmpresaResponse"/>

<xs:element name="insertEmpresa" type="tns:insertEmpresa"/>

<xs:element name="insertEmpresaResponse" type="tns:insertEmpresaResponse"/>

<xs:element name="listarEmpresa" type="tns:listarEmpresa"/>

<xs:element name="listarEmpresaPorID" type="tns:listarEmpresaPorID"/>

<xs:element name="listarEmpresaPorIDResponse" type="tns:listarEmpresaPorIDResponse"/>

<xs:element name="listarEmpresaResponse" type="tns:listarEmpresaResponse"/>

<xs:element name="updateEmpresa" type="tns:updateEmpresa"/>

<xs:element name="updateEmpresaResponse" type="tns:updateEmpresaResponse"/>

<xs:complexType name="listarEmpresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="representanteLegal" type="xs:string" minOccurs="0"/>
<xs:element name="tipoEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmpresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmpresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="representanteLegal" type="xs:string" minOccurs="0"/>
<xs:element name="tipoEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpresaPorID">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpresaPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertEmpresa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="representanteLegal" type="xs:string" minOccurs="0"/>
<xs:element name="tipoEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>