src/wsdl/localhost_8080/wsGanttProject/srvProyecto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="srvProyecto">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/wsGanttProject/srvProyecto?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteProyecto">
<part name="parameters" element="tns:deleteProyecto"/>
</message>
<message name="deleteProyectoResponse">
<part name="parameters" element="tns:deleteProyectoResponse"/>
</message>
<message name="insertProyecto">
<part name="parameters" element="tns:insertProyecto"/>
</message>
<message name="insertProyectoResponse">
<part name="parameters" element="tns:insertProyectoResponse"/>
</message>
<message name="updateProyecto">
<part name="parameters" element="tns:updateProyecto"/>
</message>
<message name="updateProyectoResponse">
<part name="parameters" element="tns:updateProyectoResponse"/>
</message>
<message name="listarProyecto">
<part name="parameters" element="tns:listarProyecto"/>
</message>
<message name="listarProyectoResponse">
<part name="parameters" element="tns:listarProyectoResponse"/>
</message>
<message name="listarProyectoPorID">
<part name="parameters" element="tns:listarProyectoPorID"/>
</message>
<message name="listarProyectoPorIDResponse">
<part name="parameters" element="tns:listarProyectoPorIDResponse"/>
</message>
<portType name="srvProyecto">
<operation name="deleteProyecto">
<input wsam:Action="http://Servicio/srvProyecto/deleteProyectoRequest" message="tns:deleteProyecto"/>
<output wsam:Action="http://Servicio/srvProyecto/deleteProyectoResponse" message="tns:deleteProyectoResponse"/>
</operation>
<operation name="insertProyecto">
<input wsam:Action="http://Servicio/srvProyecto/insertProyectoRequest" message="tns:insertProyecto"/>
<output wsam:Action="http://Servicio/srvProyecto/insertProyectoResponse" message="tns:insertProyectoResponse"/>
</operation>
<operation name="updateProyecto">
<input wsam:Action="http://Servicio/srvProyecto/updateProyectoRequest" message="tns:updateProyecto"/>
<output wsam:Action="http://Servicio/srvProyecto/updateProyectoResponse" message="tns:updateProyectoResponse"/>
</operation>
<operation name="listarProyecto">
<input wsam:Action="http://Servicio/srvProyecto/listarProyectoRequest" message="tns:listarProyecto"/>
<output wsam:Action="http://Servicio/srvProyecto/listarProyectoResponse" message="tns:listarProyectoResponse"/>
</operation>
<operation name="listarProyectoPorID">
<input wsam:Action="http://Servicio/srvProyecto/listarProyectoPorIDRequest" message="tns:listarProyectoPorID"/>
<output wsam:Action="http://Servicio/srvProyecto/listarProyectoPorIDResponse" message="tns:listarProyectoPorIDResponse"/>
</operation>
</portType>
<binding name="srvProyectoPortBinding" type="tns:srvProyecto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProyectoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvProyecto">
<port name="srvProyectoPort" binding="tns:srvProyectoPortBinding">
<soap:address location="http://localhost:8080/wsGanttProject/srvProyecto"/>
</port>
</service>
</definitions>