src/wsdl/localhost_8080/wsGanttProject/srvProyecto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="deleteProyecto" type="tns:deleteProyecto"/>

<xs:element name="deleteProyectoResponse" type="tns:deleteProyectoResponse"/>

<xs:element name="insertProyecto" type="tns:insertProyecto"/>

<xs:element name="insertProyectoResponse" type="tns:insertProyectoResponse"/>

<xs:element name="listarProyecto" type="tns:listarProyecto"/>

<xs:element name="listarProyectoPorID" type="tns:listarProyectoPorID"/>

<xs:element name="listarProyectoPorIDResponse" type="tns:listarProyectoPorIDResponse"/>

<xs:element name="listarProyectoResponse" type="tns:listarProyectoResponse"/>

<xs:element name="updateProyecto" type="tns:updateProyecto"/>

<xs:element name="updateProyectoResponse" type="tns:updateProyectoResponse"/>

<xs:complexType name="deleteProyecto">
<xs:sequence>
<xs:element name="idProyecto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProyecto">
<xs:sequence>
<xs:element name="idProyecto" type="xs:int"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProyecto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProyectoResponse">
<xs:sequence>
<xs:element name="return" type="tns:proyecto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proyecto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="idProyecto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProyectoPorID">
<xs:sequence>
<xs:element name="idProyecto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProyectoPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:proyecto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProyecto">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>