src/wsdl/localhost_8080/wsGanttProject/srvTarea.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="srvTarea">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/wsGanttProject/srvTarea?xsd=1"/>
</xsd:schema>
</types>
<message name="insertTarea">
<part name="parameters" element="tns:insertTarea"/>
</message>
<message name="insertTareaResponse">
<part name="parameters" element="tns:insertTareaResponse"/>
</message>
<message name="updateTarea">
<part name="parameters" element="tns:updateTarea"/>
</message>
<message name="updateTareaResponse">
<part name="parameters" element="tns:updateTareaResponse"/>
</message>
<message name="deleteTarea">
<part name="parameters" element="tns:deleteTarea"/>
</message>
<message name="deleteTareaResponse">
<part name="parameters" element="tns:deleteTareaResponse"/>
</message>
<message name="listarTarea">
<part name="parameters" element="tns:listarTarea"/>
</message>
<message name="listarTareaResponse">
<part name="parameters" element="tns:listarTareaResponse"/>
</message>
<message name="listarTareaPorID">
<part name="parameters" element="tns:listarTareaPorID"/>
</message>
<message name="listarTareaPorIDResponse">
<part name="parameters" element="tns:listarTareaPorIDResponse"/>
</message>
<portType name="srvTarea">
<operation name="insertTarea">
<input wsam:Action="http://Servicio/srvTarea/insertTareaRequest" message="tns:insertTarea"/>
<output wsam:Action="http://Servicio/srvTarea/insertTareaResponse" message="tns:insertTareaResponse"/>
</operation>
<operation name="updateTarea">
<input wsam:Action="http://Servicio/srvTarea/updateTareaRequest" message="tns:updateTarea"/>
<output wsam:Action="http://Servicio/srvTarea/updateTareaResponse" message="tns:updateTareaResponse"/>
</operation>
<operation name="deleteTarea">
<input wsam:Action="http://Servicio/srvTarea/deleteTareaRequest" message="tns:deleteTarea"/>
<output wsam:Action="http://Servicio/srvTarea/deleteTareaResponse" message="tns:deleteTareaResponse"/>
</operation>
<operation name="listarTarea">
<input wsam:Action="http://Servicio/srvTarea/listarTareaRequest" message="tns:listarTarea"/>
<output wsam:Action="http://Servicio/srvTarea/listarTareaResponse" message="tns:listarTareaResponse"/>
</operation>
<operation name="listarTareaPorID">
<input wsam:Action="http://Servicio/srvTarea/listarTareaPorIDRequest" message="tns:listarTareaPorID"/>
<output wsam:Action="http://Servicio/srvTarea/listarTareaPorIDResponse" message="tns:listarTareaPorIDResponse"/>
</operation>
</portType>
<binding name="srvTareaPortBinding" type="tns:srvTarea">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTareaPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvTarea">
<port name="srvTareaPort" binding="tns:srvTareaPortBinding">
<soap:address location="http://localhost:8080/wsGanttProject/srvTarea"/>
</port>
</service>
</definitions>