src/wsdl/localhost_8080/wsGanttProject/srvUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="srvUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/wsGanttProject/srvUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteUsuario">
<part name="parameters" element="tns:deleteUsuario"/>
</message>
<message name="deleteUsuarioResponse">
<part name="parameters" element="tns:deleteUsuarioResponse"/>
</message>
<message name="listarUsuario">
<part name="parameters" element="tns:listarUsuario"/>
</message>
<message name="listarUsuarioResponse">
<part name="parameters" element="tns:listarUsuarioResponse"/>
</message>
<message name="updateUsuario">
<part name="parameters" element="tns:updateUsuario"/>
</message>
<message name="updateUsuarioResponse">
<part name="parameters" element="tns:updateUsuarioResponse"/>
</message>
<message name="insertUsuario">
<part name="parameters" element="tns:insertUsuario"/>
</message>
<message name="insertUsuarioResponse">
<part name="parameters" element="tns:insertUsuarioResponse"/>
</message>
<message name="listarUsuarioPorID">
<part name="parameters" element="tns:listarUsuarioPorID"/>
</message>
<message name="listarUsuarioPorIDResponse">
<part name="parameters" element="tns:listarUsuarioPorIDResponse"/>
</message>
<message name="auntenticateUsuario">
<part name="parameters" element="tns:auntenticateUsuario"/>
</message>
<message name="auntenticateUsuarioResponse">
<part name="parameters" element="tns:auntenticateUsuarioResponse"/>
</message>
<portType name="srvUsuario">
<operation name="deleteUsuario">
<input wsam:Action="http://Servicio/srvUsuario/deleteUsuarioRequest" message="tns:deleteUsuario"/>
<output wsam:Action="http://Servicio/srvUsuario/deleteUsuarioResponse" message="tns:deleteUsuarioResponse"/>
</operation>
<operation name="listarUsuario">
<input wsam:Action="http://Servicio/srvUsuario/listarUsuarioRequest" message="tns:listarUsuario"/>
<output wsam:Action="http://Servicio/srvUsuario/listarUsuarioResponse" message="tns:listarUsuarioResponse"/>
</operation>
<operation name="updateUsuario">
<input wsam:Action="http://Servicio/srvUsuario/updateUsuarioRequest" message="tns:updateUsuario"/>
<output wsam:Action="http://Servicio/srvUsuario/updateUsuarioResponse" message="tns:updateUsuarioResponse"/>
</operation>
<operation name="insertUsuario">
<input wsam:Action="http://Servicio/srvUsuario/insertUsuarioRequest" message="tns:insertUsuario"/>
<output wsam:Action="http://Servicio/srvUsuario/insertUsuarioResponse" message="tns:insertUsuarioResponse"/>
</operation>
<operation name="listarUsuarioPorID">
<input wsam:Action="http://Servicio/srvUsuario/listarUsuarioPorIDRequest" message="tns:listarUsuarioPorID"/>
<output wsam:Action="http://Servicio/srvUsuario/listarUsuarioPorIDResponse" message="tns:listarUsuarioPorIDResponse"/>
</operation>
<operation name="auntenticateUsuario">
<input wsam:Action="http://Servicio/srvUsuario/auntenticateUsuarioRequest" message="tns:auntenticateUsuario"/>
<output wsam:Action="http://Servicio/srvUsuario/auntenticateUsuarioResponse" message="tns:auntenticateUsuarioResponse"/>
</operation>
</portType>
<binding name="srvUsuarioPortBinding" type="tns:srvUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarioPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="auntenticateUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvUsuario">
<port name="srvUsuarioPort" binding="tns:srvUsuarioPortBinding">
<soap:address location="http://localhost:8080/wsGanttProject/srvUsuario"/>
</port>
</service>
</definitions>