src/wsdl/localhost_8080/wsGanttProject/srvUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="auntenticateUsuario" type="tns:auntenticateUsuario"/>

<xs:element name="auntenticateUsuarioResponse" type="tns:auntenticateUsuarioResponse"/>

<xs:element name="deleteUsuario" type="tns:deleteUsuario"/>

<xs:element name="deleteUsuarioResponse" type="tns:deleteUsuarioResponse"/>

<xs:element name="insertUsuario" type="tns:insertUsuario"/>

<xs:element name="insertUsuarioResponse" type="tns:insertUsuarioResponse"/>

<xs:element name="listarUsuario" type="tns:listarUsuario"/>

<xs:element name="listarUsuarioPorID" type="tns:listarUsuarioPorID"/>

<xs:element name="listarUsuarioPorIDResponse" type="tns:listarUsuarioPorIDResponse"/>

<xs:element name="listarUsuarioResponse" type="tns:listarUsuarioResponse"/>

<xs:element name="updateUsuario" type="tns:updateUsuario"/>

<xs:element name="updateUsuarioResponse" type="tns:updateUsuarioResponse"/>

<xs:complexType name="deleteUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertUsuario">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrase単a_hash" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarioPorID">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarioPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="contrase単a_hash" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auntenticateUsuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrase単a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auntenticateUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrase単a_hash" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>